{% extends "::base.html.twig" %}

{% block body %}
    <h1>Ajouter une fiche de vie :</h1><br>
    <div class="well">
        {{ form_start(form, {attr: {novalidate: 'novalidate'} }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}